# If you’d like to enable GitHub OAuth, fill these below
NEXT_PUBLIC_GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_CLIENT_SECRET=

# To test GitHub OAuth locally, set NEXT_PUBLIC_SITE_ORIGIN as http://localhost:3000
NEXT_PUBLIC_SITE_ORIGIN=http://localhost:3000

STORYBLOK_PREVIEW_TOKEN=

TYPE=
PROJECT_ID=
PRIVATE_KEY_ID=
PRIVATE_KEY=
CLIENT_ID=
AUTH_URI=
TOKEN_URI=
AUTH_PROVIDER_x509_CERT_UTL=
CLIENT_x509_CERT_URL=

SHEET_NAME=