.form {
  display: flex;
  margin-top: var(--space-4x);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 12px;
  min-width: 40%;
  border-radius: var(--space-2x);
  background: #111111;
  padding: 1px;
  background-color: var(--sidebar);
  background-clip: content-box, border-box;
  background-image: linear-gradient(#111111, #111111), linear-gradient(to right, #333333, #333333);
}

.full-width {
  width: 100%;
}

@media (min-width: 1280px) {
  .form.share-page {
    justify-content: flex-start;
  }
}

@media (max-width: 1280px) {
  .form {
    min-width: 70%;
  }
}

.input {
  border: none;
  width: 100%;
  background: transparent;
  outline: none;
  height: 56px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: var(--text-md);
  color: #fff;
  font-family: inherit;
}

.input::placeholder {
  color: var(--secondary-color);
}

.input-label {
  background-color: var(--gray);
  border-radius: var(--space-2x);
  border: 1px solid transparent;
  transition: border-color 0.2s ease, background-color 0.2s ease;
  display: flex;
  align-items: center;
  margin-bottom: var(--space-2x);
  width: 100%;
  cursor: pointer;
}

.input-label:hover {
  background-color: #33373c;
}

.input-label.focused {
  background-color: #33373c;
}

.error {
  width: 40%;
  color: red;
}

.input-label.success {
  background: #0070f3;
}

.input-text {
  display: flex;
  align-items: center;
  width: 100%;
}

.form-row {
  position: relative;
  max-width: 400px;
  width: 100%;
  padding: var(--space-4x) var(--space-8x);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-2x);
}

.submit-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.error-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .form-row {
    max-width: 480px;
  }
}

.submit {
  padding: 0 var(--space-6x);
  height: 56px;
  margin-top: var(--space-4x);
  border-radius: var(--space-2x);
  border: 1px solid var(--brand);
  background: var(--brand);
  cursor: pointer;
  font-family: inherit;
  font-size: var(--text-md);
  letter-spacing: -0.02em;
  outline: none;
  font-weight: 500;
  color: white;
  transition: background-color 0.2s ease, color 0.2s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.submit.loading {
  cursor: default;
}

.submit.default:hover,
.submit.default:focus {
  background: black;
  color: var(--brand);
}

.submit.error:hover,
.submit.error:focus {
  background: #000;
  color: #fff;
}

.submit.default:disabled,
.submit.default:disabled:hover,
.submit.default:disabled:focus {
  cursor: default;
  background: var(--gray);
  border-color: var(--gray);
  color: #fff;
  justify-content: flex-start;
  overflow: hidden;
}
